<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Murtain.com</title>
    
    @Html.RenderStyle("/bower_components/frozenui/dist/css/frozen.css")

    @Html.RenderScript("/bower_components/jquery/dist/jquery.min.js")

    @Html.RenderScript("/bower_components/react/react.min.js")
    @Html.RenderScript("/bower_components/react/react-dom.min.js")

    <script src="http://static.runoob.com/assets/react/browser.min.js"></script>

    @Html.RenderScript("/bower_components/angular/angular.min.js")
</head>
<body>

    @RenderBody()



    @RenderSection("scripts", required: false)
</body>
</html>
